<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:icon="@drawable/ic_kz"
        android:roundIcon="@drawable/ic_kz"
        android:theme="@style/AppTheme"
        android:label="Korczak Nexus"
        android:usesCleartextTraffic="false"
        android:allowBackup="false"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Permite que o Android ofereça o Nexus no "Abrir com..." para documentos. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="text/markdown"/>
                <data android:mimeType="text/csv"/>
                <data android:mimeType="text/html"/>
                <data android:mimeType="application/rtf"/>
                <data android:mimeType="application/json"/>
                <data android:mimeType="application/xml"/>
                <data android:mimeType="application/msword"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
                <data android:mimeType="application/vnd.oasis.opendocument.text"/>
            </intent-filter>

            <!-- Permite edição direta dos formatos que o editor do Nexus consegue importar. -->
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="text/markdown"/>
                <data android:mimeType="text/csv"/>
                <data android:mimeType="text/html"/>
                <data android:mimeType="application/rtf"/>
                <data android:mimeType="application/json"/>
                <data android:mimeType="application/xml"/>
            </intent-filter>

            <!-- Recebe arquivos compartilhados de outros aplicativos. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <receiver android:name=".UpdateReceiver" android:exported="false"/>
    </application>
</manifest>